.content {
   height: auto;
   overflow: hidden;
}

.left {
    width: 360px;
    position: fixed;
}

.right {
    padding-left: 360px;
    /* the next props are meant to keep this block independent from the other floated one */
    width: auto;
    overflow: hidden;
}

div#system-status {
    width: 100%;
}

div.leftpad {
    height: 30px;
}

div#what-is-this {
    width: 100%;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-weight: 600;
    font-size: 18px;
    color: black;
}

div.gauge-title {
    width: 100%;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    color: black;
}

div.map-title {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-align: center;
    font-weight: 300;
    font-size: 10px;
    color: black;
}

div#error {
    width: 100%;
    overflow-y: auto;
    margin-top: 20px;
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #F44336;
    text-align: left;
    font-size: 12px;
    font-weight: 300;
}

div#map {
    width: 100%;
    height: 180px;
    background-color: grey;
}

div.messages {
    visibility: hidden;

    width: 100%;
    height: 200px;
    overflow-y: auto;
    margin-top: 20px;
    margin-left: 10px;
    font-family: 'Lucida Console', 'Courier New', Courier;
    color: black;
    text-align: left;
    font-size: 10px;
    line-height: 11px;
}

div.message {
    text-indent: -20px;
    margin-left: 20px;
}

div.trace {
    color: #DCDCDC;
}


div.error {
    color: #F44336;
    font-weight: 400;
}

div.euler-problem-container {
    float: left;
    margin: 5px 10px;
    width: 230px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

button.euler-problem {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

div.euler-problem-solution {
    overflow: auto;
    white-space: nowrap;
    margin-left: 10px;
    margin-right: 10px;
    height: 24px;
    background-color: #FAFAFA; /* Light Gray */
}

div.euler-problem-progress {
    float: left;
    display: inline-block;
    width: 30px;
    color: #808080;
    text-align: left;
    font-weight: 200;
    font-size: 10px;
}

div.euler-problem-answer {
    float: left;
    display: inline-block;
    width: 150px;
    color: black;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}

div.euler-problem-link {
    float: right;
    display: inline-block;
    width: 30px;
    color: #808080;
    text-align: right;
    font-weight: 300;
    font-size: 10px;
}

button.euler-problem {
    height: 60px;
    width: 210px;
    margin: 10px 10px 1px 10px;
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}

button.unsolved {
    background-color: #E7E7E7; /* Gray */
    color: black;
}


button.in-progress {
    background-color: #F44336; /* Red */
    color: black;
}

button.solved {
    background-color: #008CBA; /* Blue */
    color: white;
}

div#overlay {
    position: fixed;    /* Sit on top of the page content */
    display: none;      /* Hidden by default */
    width: 100%;        /* Full width (cover the whole page) */
    height: 100%;       /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);  /* Black background with opacity */
    z-index: 1000;                      /* Specify a stack order */
    overflow-y: auto;
}

div.overlay-title {
    margin: 30px 10% 5px 10%;
    font-family: 'Josefin Sans', sans-serif;
    color: #D3D3D3;
    text-align: left;
    font-size: 24px;
    font-weight: 300;
}

div.overlay-text {
    margin: 5px 15% 3px 15%;
    font-family: 'Josefin Sans', sans-serif;
    color: #D3D3D3;
    text-align: left;
    font-size: 20px;
    font-weight: 200;
}

div#overlay a:link {
    color: #E7E7E7;
}

div#overlay a:visited {
    color: #FFFFFF;
}

div#overlay a:hover {
    color: #E7E7E7;
}