<script src="@routes.Assets.versioned("javascripts/main.js")"></script>
<script src="@routes.Assets.versioned("javascripts/jquery-3.2.1.min.js")"></script>
<script src="@routes.Assets.versioned("javascripts/euler.js")"></script>
<script src="@routes.Assets.versioned("javascripts/websocket.js")"></script>
<script src="@routes.Assets.versioned("javascripts/d3.min.js")"></script>
<script src="@routes.Assets.versioned("javascripts/d3-gauge.js")"></script>
<script src="@routes.Assets.versioned("javascripts/d3-gauge-control.js")"></script>
