@(googleApiScriptUrl: String)

<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Josefin+Sans:200|Josefin+Sans:300|Open+Sans:200|Open+Sans:300|Open+Sans:600">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.ico")">

<script src="@routes.Assets.versioned("javascripts/jquery-3.2.1.min.js")"></script>
<script src="@routes.Assets.versioned("javascripts/main.js")"></script>
<script src="@routes.Assets.versioned("javascripts/messages.js")"></script>
<script src="@routes.Assets.versioned("javascripts/euler.js")"></script>
<script src="@routes.Assets.versioned("javascripts/websocket.js")"></script>
<script src="@routes.Assets.versioned("javascripts/raphael-min.js")"></script>
<script src="@routes.Assets.versioned("javascripts/kuma-gauge.jquery.min.js")"></script>
<script src="@routes.Assets.versioned("javascripts/memory-gauge.js")"></script>
<script src="@routes.Assets.versioned("javascripts/responsiveness-gauge.js")"></script>

<script src="@routes.Assets.versioned("javascripts/map.js")"></script>
<script async defer src="@googleApiScriptUrl"></script>