<div id="system-status">
    <div id="what-is-this"><a href="#">What Is All This?</a>&#128533;</div>
    <div class="leftpad"></div>
    <div class="gauge-title">Backend JVM Memory Utilization</div>
    <div class="js-gauge memory-gauge gauge"></div>
    <div class="leftpad"></div>
    <div class="gauge-title">Backend Responsiveness</div>
    <div class="js-gauge responsiveness-gauge gauge"></div>
    <div class="leftpad"></div>
    <div class="map-title">
        <table width="100%">
            <tr>
                <td width="34%"><img src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png"/></td>
                <td width="33%"><img src="http://maps.google.com/mapfiles/ms/icons/green-dot.png"/></td>
                <td width="33%"><img src="http://maps.google.com/mapfiles/ms/icons/yellow-dot.png"/></td>
            </tr>
            <tr>
                <td>You</td>
                <td>Other Current Users</td>
                <td>Other Recent Users</td>
            </tr>

        </table>
    </div>
    <div id="map" class="map"></div>
    <div class="leftpad"></div>
    <div id="error" class="error"></div>
    <div class="leftpad"></div>
    <div id="messages" class="messages"></div>
</div>
