@(userInfo: UserInfo)

<div id="system-status">
    <div id="what-is-this"><a href="#">What Is All This?</a>&#128533;</div>
    <div class="leftpad"></div>
    <div class="gauges">
        <div style="float: left; width=50%">
            <div class="gauge-title">Server Memory Usage</div>
            <div class="js-gauge memory-gauge gauge"></div>
        </div>
        <div style="float: right; width=50%">
            <div class="gauge-title">Server Responsiveness</div>
            <div class="js-gauge responsiveness-gauge gauge"></div>
        </div>
    </div>
    <div class="leftpad"></div>
    <div id="map" class="map"></div>
    <div class="leftpad"></div>
    <div class="userinfo">
        <div style="float: left; width=50%">
            What is your name?
        </div>
        <div style="float: right; width=50%">
            <input type="text" id="username" size="15" maxlength="15" value="@userInfo.name" />
        </div>
    </div>
    <div class="leftpad"></div>
    <div id="error" class="error"></div>
    <div class="leftpad"></div>
    <div id="messages" class="messages"></div>
</div>
