<div id="system-status">
    <div id="what-is-this"><a href="#">What Is All This?</a>&#128533;</div>
    <div class="leftpad"></div>
    <div class="gauge-title">Backend JVM Memory Utilization</div>
    <div class="js-gauge memory-gauge gauge"></div>
    <div class="leftpad"></div>
    <div class="gauge-title">Backend Responsiveness</div>
    <div class="js-gauge responsiveness-gauge gauge"></div>
    <div class="leftpad"></div>
    <div id="error" class="error"></div>
    <div class="leftpad"></div>
    <div id="messages" class="messages"></div>
</div>
