<div id="overlay">

    <div style="margin-top: 20px"></div>

    <div class="overlay-title">
        WELCOME TO MY  <a href="https://projecteuler.net/" target="_blank">PROJECT EULER</a> WEB APP
    </div>

    <div class="overlay-text">
        Project Euler is hundreds of increasingly difficult mathematical problems
        intended to be solved with computer programs.
        If you enjoy coding, algorithms, and math you should give it a try!
    </div>


    <div class="overlay-title">
        WHAT ARE ALL THESE BUTTONS?
    </div>

    <div class="overlay-text">
        Each grey rectangular button corresponds to one Project Euler problem.
        Click the button to have the backend start the solution process.
        The button turns red and a timer below it starts counting seconds till the answer is received.
        Once solved, the answer is displayed below the button and the button turns blue.
    </div>

    <div class="overlay-text">
        You can also click on the Project Euler link below and to the right of the button
        to see the actual problem being solved.
    </div>



    <div class="overlay-title">
        WHAT'S WITH THE GAUGES?
    </div>

    <div class="overlay-text">
        The two gauges on the left represent the state of this web app's backend as it is solving the problems.
        They are updated continuously via a Websocket connection.
    </div>

    <div class="overlay-text">
        The top gauge shows the Java Virtual Machine (JVM) memory utilization (relative to max available to the JVM).
        The bottom gauge shows the general responsiveness of the backend -- it does its best to stay responsive even
        as it's solving multiple problems simultaneously.
    </div>

    <div class="overlay-text">
        You can verify that the gauges are backend-driven by opening this page in different browser windows
        and clicking a few of the problem buttons.
        You'll see gauges in both browsers move in sync as they receive the same status data from their common backend.
    </div>



    <div class="overlay-title">
        WHAT'S THE TECHNOLOGY STACK FOR THIS WEB APP?
    </div>

    <div class="overlay-text">
        This backend is in Scala using Play framework and Akka.
        The backend runs inside a Docker container on Amazon EC2 Container Service (ECS), part of Amazon AWS.
    </div>

    <div class="overlay-text">
        The front-end is HTML with CSS and jQuery. It uses Ajax to get problem answers and
        Websockets to receive a continuous stream of system status updates from the backend.
    </div>



    <div class="overlay-title">
        CAN I SEE THE SOURCE CODE?
    </div>

    <div class="overlay-text">
        The source code to my Project Euler solutions and this web app is on GitHub
        <a href="https://github.com/msokoryansky2/ProjectEuler" target="_blank">here</a> and
        <a href="https://github.com/msokoryansky2/project-euler-web" target="_blank">here</a> respectively.
    </div>



    <div class="overlay-title">
        WHY ARE PROBLEMS TAKING SO LONG TO SOLVE?
    </div>

    <div class="overlay-text">
        Project Euler is hard :)
    </div>

    <div class="overlay-text">
        Many of my Project Euler solutions are very memory- and CPU-intensive,
        especially for the higher-numbered problems.
        The backend runs on a single AWS "micro" instance with just one virtual CPU and 1GB of RAM.
    </div>

    <div class="overlay-text">
        It is not hard to overwhelm the backend by rapidly clicking buttons for higher-numbered
        problems. A couple problems may overwhelm the "micro" instance all by themselves.
        In those cases the backend will eventually run out of memory and
        "crash" and its container will then be automatically restarted by ECS.
        But there may be a lengthy period of unresponsiveness in between.
    </div>
</div>