<div id="overlay">

    <div style="margin-top: 20px"></div>


    <div class="overlay-title">
        WELCOME TO MY PROJECT EULER WEB APP
    </div>

    <div class="overlay-text">
        <a href="https://projecteuler.net/" target="_blank">Project Euler</a> is hundreds of increasingly difficult
        mathematical problems intended to be solved with computer programs.
    </div>


    <div class="overlay-title">
        WHAT ARE ALL THESE BUTTONS?
    </div>

    <div class="overlay-text">
        Each grey button represents one Project Euler problem. Push it to solve the problem on the server.
        The button turns orange while the solution is in progress. Once solved, the button turns green and the answer is
        displayed. Below the button is a link to the problem statement on Project Euler website.
    </div>


    <div class="overlay-title">
        WHAT DO THE GAUGES MEAN?
    </div>

    <div class="overlay-text">
        The two gauges on the left represent the state of the server. They are updated via a Websocket connection.
        The top gauge shows the server's Java Virtual Machine (JVM) memory utilization. It can reach 100% for
        more demanding problems. The bottom gauge shows server's responsiveness. It should be near or at 100%
        until the server becomes overloaded.
    </div>

    <div class="overlay-text">
        Try opening this page in different browser windows and quickly clicking several problem buttons.
        You'll see gauges in both browsers move in sync as they receive the same stream of data from the server.
    </div>


    <div class="overlay-title">
        WHY IS THERE A MAP?
    </div>

    <div class="overlay-text">
        The web app uses Websockets to let the users know what other users are doing. Whenever a new user
        opens the web app or solves a problem, that event is instantly broadcast to all other users.
    </div>

    <div class="overlay-text">
        Try opening the app in two different browsers (tabs of the same browser share cookies, so you don't get the
        full effect) to get a feel for user experience with multiple simultaneous users.
    </div>


    <div class="overlay-title">
        WHAT IS THE TECHNOLOGY STACK FOR THIS WEB APP?
    </div>

    <div class="overlay-text">
        The backend is written in Scala using Play framework and Akka. It runs inside a Docker container managed by the
        EC2 Container Service (ECS) on a single AWS "micro" instance (1 CPU core and 1GB of RAM).
        The front-end is HTML with CSS and jQuery. It uses Ajax to request problems to be solved and
        Websockets to receive newly available solutions, user login notifications, and system status from the backend.
    </div>


    <div class="overlay-title">
        WHERE IS THE SOURCE CODE?
    </div>

    <div class="overlay-text">
        The repos for my Project Euler solutions and for this web app are on GitHub:
        <a href="https://github.com/msokoryansky2/ProjectEuler" target="_blank">here</a> and
        <a href="https://github.com/msokoryansky2/project-euler-web" target="_blank">here</a> respectively.
    </div>


    <div class="overlay-title">
        WHY DOES IT TAKE SO LONG TO SOLVE SOME PROBLEMS?
    </div>

    <div class="overlay-text">
        Project Euler is hard :) Many of my Project Euler solutions are very memory- and CPU-intensive, especially for
        the higher-numbered problems. The backend can become unresponsive as it's solving some of the more demanding
        problems. Eventually it will either finally solve the pending problems or run out of memory,
        crash, and be auto-restarted by ECS. The front-end attempts to restore websocket connectivity after
        the backend goes down.
    </div>

    <div class="overlay-text">
        I may explore shifting the solution logic to AWS Lambda which should solve the responsiveness issue.
        Of course, beefing up the hardware past a single "micro" AWS instance would solve it as well.
    </div>

</div>