<div id="overlay">

    <div style="margin-top: 20px"></div>



    <div class="overlay-title">
        WELCOME TO MY PROJECT EULER WEB APP
    </div>

    <div class="overlay-text">
        <a href="https://projecteuler.net/" target="_blank">Project Euler</a> is hundreds of increasingly difficult
        mathematical problems intended to be solved with computer programs.
    </div>



    <div class="overlay-title">
        WHAT ARE ALL THESE BUTTONS?
    </div>

    <div class="overlay-text">
        Each grey button corresponds to one Project Euler problem. The button turns red while the solution
        is in progress and then blue once it's solved. The answer is displayed below the button. Below and to the right
        of the button is a link to the problem description on Project Euler website.
    </div>



    <div class="overlay-title">
        WHAT DO THE GAUGES MEAN?
    </div>

    <div class="overlay-text">
        The two gauges on the left represent the state of this web app's backend as it is solving the problems.
        They are updated continuously via a Websocket connection.
    </div>

    <div class="overlay-text">
        The top gauge shows the Java Virtual Machine (JVM) memory utilization (relative to max available to the JVM).
        It should be close to 0% when there is plenty of free memory but can quickly approach 100% for more demanding
        problems.
    </div>

    <div class="overlay-text">
        The bottom gauge shows the general responsiveness of the backend. It will stay at 100% until the backend becomes
        overloaded with problems, especially if those problems also push memory utilization close to 100%.
    </div>

    <div class="overlay-text">
        Try opening this page in different browser windows and clicking a few of the problem buttons.
        You'll see gauges in both browsers move in sync as they receive the same status data from their common backend.
    </div>



    <div class="overlay-title">
        WHAT IS THE TECHNOLOGY STACK FOR THIS WEB APP?
    </div>

    <div class="overlay-text">
        This backend is written in Scala using Play framework and Akka. It runs inside a Docker container
        on a "micro" instance (1 virtual CPU and 1GB of RAM) on Amazon EC2 Container Service (ECS), part of Amazon AWS.
    </div>

    <div class="overlay-text">
        The front-end is HTML with CSS and jQuery. It uses Ajax to get problem answers and
        Websockets to receive a continuous stream of system status updates from the backend.
    </div>



    <div class="overlay-title">
        WHERE IS THE SOURCE CODE?
    </div>

    <div class="overlay-text">
        The repos for my Project Euler solutions and for this web app are on GitHub
        <a href="https://github.com/msokoryansky2/ProjectEuler" target="_blank">here</a> and
        <a href="https://github.com/msokoryansky2/project-euler-web" target="_blank">here</a> respectively.
    </div>



    <div class="overlay-title">
        WHY IS IT SO SLOW?
    </div>

    <div class="overlay-text">
        Project Euler is hard :) Many of my Project Euler solutions are very memory- and CPU-intensive, especially for
        the higher-numbered problems. The backend's hardware is outmatched by some of these problems.
    </div>

    <div class="overlay-text">
        It turned out very hard to tune the backend to stay responsive as it's solving Project Euler problems that
        each may use 100% of CPU capacity and nearly 100% of available memory. Currently all Akka actors that are
        solving the problems on the backend run in a separate fork-join thread pool
        (so under-utilized workers can "steal work" from over-utilized ones) with just one message processed per actor
        before another actor gets a chance at execution. However "GC overhead limit exceeded" errors leading to eventual
        backend crashes and auto-restart by the ECS are still possible, as are lengthy unresponsive periods.
    </div>
</div>